<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<h2>Comments</h2>
<% comments.forEach(function(comment) { %>
  <h3> <%= comment.name %> </h3>
  <p><%= comment.content %></p>
<% }) %>

<a href="/">&larr; Back Home</a>
